body {
    /* background-color: #26517B; */
    background-color: black;
    margin: 0;
    text-align: center;
}
header {
    text-align: center;
    color: white;
}
h1 {
    font-size: 100px;
    margin-bottom: 0;
    /* background-color: brown; */
}
#gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    text-align: center;
    /* background-color: peru; */
}
#leftBox, #rightBox {
    display: flex;
    width: 195px;
    height: 290px;
    /* background-color: deepskyblue; */
}
#leftBox {
    justify-content: flex-end;
}
#rightBox {
    justify-content: flex-start;
}
#topRow, #bottomRow {
    display: flex;
    height: 195px;
}
#topRow {
    align-items: flex-end;
    /* background-color: chartreuse; */
}
button {
    font-size: 30px;
}
#topRow button, #compStore {
    background-color: #c39428;
}
#bottomRow {
    align-items: flex-start;
    /* background-color: darkslategrey; */
}
#bottomRow button, #playerStore {
    background-color: #A61540;
}
.store {
    width: 125px;
    height: 270px;
    border: 0;
    border-radius: 30px;
    margin: 10px;
    transition: 1.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.pit {
    width: 125px;
    height: 125px;
    border: 0;
    border-radius: 30px;
    margin: 10px;
    transition: 1.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#winnerLine {
    height: 80px;
    margin-bottom: 0;
    margin-top: 0;
    /* background-color: burlywood; */
}
#winnerInd {
    width: 270px;
    height: 60px;
    border: 0;
    border-radius: 50vh;
    text-align: center;
    background-color: white;
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 0;
    /* background-color: darkolivegreen; */
}
#reset {
    width: 270px;
    height: 60px;
    border: 0;
    border-radius: 50vh;
    text-align: center;
    background-color: white;
    transition: 1.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

