body {
    background-color: black;
    margin: 0;
    text-align: center;
}
header {
    text-align: center;
    color: white;
}
h1 {
    font-size: 100px;
    /* background-color: brown; */
}
#gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 125px auto 0 auto;
    text-align: center;
    /* background-color: peru; */
}
.store {
    width: 125px;
    height: 270px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    margin: 10px;
}
/* #compStore {
    background-color: orange;
}
#playerStore {
    background-color: darkblue;
} */
.pit {
    width: 125px;
    height: 125px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    margin: 10px;
}
/* #seven {
    height: 75px;
}
#one {
    height: 175px;
} */
#reset {
    margin: 100px 0 0 0;
    width: 270px;
    height: 60px;
    border: 0;
    border-radius: 50vh;
    text-align: center;
    background-color: white;
}

