body {
    /* background-color: #292C5F; */
    background-color: black;
    margin: 0;
    text-align: center;
}
header {
    text-align: center;
    color: white;
}
h1 {
    font-size: 100px;
    margin-bottom: 0;
    /* background-color: brown; */
}

#gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    text-align: center;
    /* background-color: peru; */
}
#leftBox, #rightBox {
    display: flex;
    width: 195px;
    height: 290px;
    /* background-color: deepskyblue; */
}
#leftBox {
    justify-content: flex-end;
}
#rightBox {
    justify-content: flex-start;
}
#topRow, #bottomRow {
    display: flex;
    height: 195px;
}
#topRow {
    align-items: flex-end;
    /* background-color: chartreuse; */
}
#topRow button, #compStore {
    /* background-color: coral; */
}
#bottomRow {
    align-items: flex-start;
    /* background-color: darkslategrey; */
}
#bottomRow button, #playerStore {
    /* background-color: darkorange; */
}
.store {
    width: 125px;
    height: 270px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    margin: 10px;
}
/* #compStore {
    background-color: orange;
}
#playerStore {
    background-color: darkblue;
} */
.pit {
    width: 125px;
    height: 125px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    margin: 10px;
}
#winnerLine {
    height: 80px;
    margin-bottom: 0;
    margin-top: 0;
    /* background-color: burlywood; */
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 0;
    /* background-color: darkolivegreen; */
}
#reset {
    width: 270px;
    height: 60px;
    border: 0;
    border-radius: 50vh;
    text-align: center;
    background-color: white;
}

