body {
    background-color: #0E1F17;
    margin: 0;
    text-align: center;
}
header {
    text-align: center;
    color: #FFFD8A;
    font-family: 'Suez One', serif;
}
h1 {
    font-size: 110px;
    margin-bottom: 0;
}
#gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    text-align: center;
}
.ind {
    width: 60px;
    height: 270px;
    border-radius: 50vw;
    margin: 10px;
    transition: 1s cubic-bezier(.81,.29,.06,.94);
}
#leftInd, #rightInd {
    background-color: #0E1F17;
}
#leftBox, #rightBox {
    display: flex;
    width: 195px;
    height: 290px;
}
#leftBox {
    justify-content: flex-end;
}
#rightBox {
    justify-content: flex-start;
}
#topRow, #bottomRow {
    display: flex;
    height: 195px;
}
#topRow {
    align-items: flex-end;
}
button {
    font-size: 40px;
    font-family: 'Suez One', serif;
    color: #0E1F17;
}
#topRow button, #compStore, #bottomRow button, #playerStore {
    background-color: #0E1F17;
}
#bottomRow {
    align-items: flex-start;
}
.store {
    width: 125px;
    height: 270px;
    border: 0;
    border-radius: 30px;
    margin: 10px;
    transition: 900ms cubic-bezier(.81,.29,.06,.94);
}
.pit {
    width: 125px;
    height: 125px;
    border: 0;
    border-radius: 30px;
    margin: 10px;
    transition: 900ms cubic-bezier(.81,.29,.06,.94);
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 20px;
}
#reset {
    width: 270px;
    height: 60px;
    border: 0;
    border-radius: 50vh;
    text-align: center;
    font-size: 35px;
    background-color: #FFFD8A;
    transition: 900ms cubic-bezier(.81,.29,.06,.94);
}

